body {
    margin: 0;
    font-family: fantasy, monospace;
    overflow: hidden;
  }

html, body { 
    width:100%; height:100%; 
}

.zdog-canvas {
    display: block;
    width:100%; height:100%;
  }

.debug {
    position: absolute;
    top: 0%;
    background-color: #ccccccBB;
    font-size: 12px;
}

.stats {
  position: absolute;
  bottom: 5%;
  background-color: #ccccccBB;
  font-size: 12px;
}

.title {
  position: absolute;
  pointer-events: none;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  font-weight: 800;
  top: 50%;
  left: 50%;
}

.top {
  font-size: 70px;
  -webkit-text-fill-color: #223e32;
  -webkit-text-stroke-color: #A7C06D;
  transform: translate(-125%,-190%) skewY(-10deg) ;
  text-shadow: -2px -5px #223e32; /* Look for different BG color on this qqq */
}

.bottom {
  font-size: 90px;
  -webkit-text-fill-color: #A7C06D;
  -webkit-text-stroke-color: #223e32;
  transform: skewY(10deg) translate(-40%,-65%);
  text-shadow: 2px -5px #A7C06D;
}

.start {
  font-size: 30px; width: 250px;
  -webkit-text-fill-color: #04BF00;
  -webkit-text-stroke-width: 0px;
  text-shadow: 3px -3px #223e32;
  transform: translate(-50%,300%);
  animation-name: gamestart-start;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.notification {
  position: absolute;
  top: 10px; right: 10px;
  font-size: 16px;
  padding: 5px; padding-top: 10px; padding-bottom: 10px;
  color: white;
}

/* https://stackoverflow.com/a/53812597 */
.notification::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transform: skewY(3deg);
  border: white solid 2px;
}

@keyframes gamestart-top {
  from {
    transform: translate(-125%,-190%) skewY(-10deg) scale(1,1);
    opacity: 1
  }
  to {
    transform: translate(-125%,-190%) skewY(-10deg) scale(-1.5,1.5);
    opacity: 0
  }
}

@keyframes gamestart-bottom {
  from {
    transform: skewY(10deg) translate(-40%,-65%) scale(1,1);
    opacity: 1
  }
  to {
    transform: skewY(10deg) translate(-40%,-65%) scale(1.5,-1.5);
    opacity: 0
  }
}

@keyframes gamestart-start {
  from {
    transform: translate(-50%,300%);
  }
  to {
    transform: translate(-50%,250%);
  }
}