.modal {
    width: 100%;
    height: 80px;
    color: black;
    position: absolute;
    bottom: 0;
    text-align: center;

}
.modal.open{
    transition: transform 250ms ease-in-out;
    transform: translateY(-100%);
}
.modal.close{
    transition: transform 250ms ease-in-out;
    transform: translateY(100%);
}