/* Globally Scoped */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  letter-spacing: -0.01em;
  word-spacing: -0.2em;
  cursor: crosshair
}

body {
  overflow: hidden;
  background: #222;
  height: 100vh !important;
}

h3 {
  margin-bottom: 0.6rem
}

h5 {
  color: #555;
}

label {
  border: 1px solid #eee;
  height: 80px;
}
label:hover {
  background: rgba(0, 0, 0, 0.05)
}
label img {
  width: 30%;
}

/* Class Scoped */
.dialog {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 333ms ease-in;
  background: rgb(255, 253, 253);
  border-radius: 2px;
  padding: 7px 10px;
  min-width: 200px;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden
}

.dialog .active {
  position: absolute;
}
.dialog .visible {
  opacity: 1;
}

.d-head {
  width: calc(100% + 20px);
  margin: 0 -10px;
  padding: 0 10px;
  height: 15px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #999;
  font-weight: 100;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  border: none;
  margin-right: 5px;
  line-height: 15px;
}

.back-text {
  pointer-events: none;
  color: #444; 
  z-index: -1;
}

/* size */
.big {
  width: 800px;
  height: 500px;
}

.med {
  min-width: 450px;
  min-height: 200px;
}

.small {
  min-width: 200px;
  min-height: 100px;
}

.wide {
  width: 400px;
}

.tiny {
  width: 100px;
  height: 50px;
}

.half {
  width: 50%;
}

/* position */
.top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.z-top {
  z-index: 1000;
}

.abs {
  position: absolute;
}

.t-left {
  text-align: left;
}

.rel {
  position: relative;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* visibility */
.visible {
  opacity: 1;
  pointer-events: all;
}

.simple .d-head {
  /* padding: 0 10px; */
  display: none;
}
.simple {
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.col {
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
}

.big {
  
}

/* Id Scoped */
#main-block {
  background: #FBFFF1;
  border-radius: 10px;
  box-shadow: 8px 10px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

#head {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 50px;
  background: rgb(243, 243, 243);
}

h1,h2,h3,h4,h5 {
  z-index: -5;
}

#_canvas {
  z-index: 100;
}

.no-upgrades label {
  display: none;
}

.no-upgrades #upgrade-text {
  display: none;
}

#health {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgb(112, 112, 112);
}

#url {
  pointer-events: none;
  color: #111;
  opacity: 0.8;
  position: absolute;
  top: 19px;
  left: 110px;
  z-index: -5;
}

#main-text {
  position: absolute;
  top: 70px;
  left: 20px;
  color: rgb(90, 90, 90);
  font-weight: 100;
}

#score {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #aaa;
}