body {
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  margin: 0;
}

canvas {
  left: 0;
  position: absolute;
  top: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.progress-wrapper {
  display: flex;
  justify-content: space-between;
}

.progress-box {
  background-color: black;
  border: 2px solid orange;
  padding: 0.5em;
  position: relative;
  width: 200px;
  z-index: 1;
}

.progress-box p {
  color: white;
  display: inline-block;
  margin: 0 auto;
  padding-top: 0.25em;
}

.progress {
  background-color: lightgray;
  border-radius: 10px;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.progress.kong-progress {
  left: 0px;
}

.progress.trex-progress {
  right: 0px;
}

.bar {
  display: inline-block;
  height: 100%;
}

.bar.pizza-progress {
  background-color: orange;
}

.bar.kong-progress,
.bar.trex-progress {
  background-color: green;
}

.bar.below-60 {
  background-color: yellow;
}

.bar.below-30 {
  background-color: red;
}
